.robotStyles {
  margin-top: 30px;
  width: 100%;
  transform-origin: 0 0; // Adjust origin for proper scaling

  @media (max-width: 600px) {
    transform: scale(0.8); // Scale for smaller screens
  }
}

.Discrepanciesboxstyles {
  color: #484e53;
  font-weight: 500;
  margin-top: -15px;
  font-size: 12px;
}

.Reasonboxstyles {
  margin-top: 15px;
  font-weight: bolder;
  font-size: clamp(10px, 2vw, 18px);
  color: #484e53;
}

.Boxstyles {
  font-weight: bold;
  text-transform: capitalize;
  color: #5093e0;
}
