.topWrapper {
  //   height: 100vh;
  scroll-behavior: smooth;
  padding-bottom: 80px;
}

.goBackButtonWrapper {
  margin-top: 20px;
}

.reviewContentWrapper {
  width: 90%;
  margin: 0 auto;

  .discrepancy {
    background-color: #f79009;
    min-height: 7.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-content: center;
    --bs-gutter-y: 0;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: 30px;
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    margin-bottom: 40px;
    padding: 1rem 1.75rem;
    border-radius: 7px;

    .discrepancyIcon {
      width: 1.75rem;
      height: 1.75rem;
      align-self: start;
      flex: 0 0 auto;
    }

    .disContents {
      display: flex;
      flex-direction: column;
      flex: 1;
      margin-left: 8px;

      .desHeading {
        font-size: 1.25rem;
        font-weight: 600;
        color: #fef4e6;
      }

      .desText {
        font-size: 0.875rem;
        margin-bottom: 0rem;
        font-weight: normal;
        color: #fef4e6;
        white-space: pre-line;
      }
    }
  }

  .topHeading {
    // font-family: "ArticulatCF-Bold";
    font-size: 3rem;
    font-weight: bold;
    text-align: left;
    color: #000;
  }

  .descriptionPara {
    // font-family: "ArticulatCF-Medium";
    font-size: 1.25rem;
    font-weight: normal;

    text-align: left;
    color: #000;
    // margin-bottom: 3.188rem;
    margin-top: 12px;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;

  .contentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -20px;
    padding: 0 4px;
    .infoText {
      padding: 10px 32px;
      padding-bottom: 25px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background-color: #b9d4f5;
      .stepTitle {
        font-size: 1.1rem;
        font-weight: bolder;
        text-align: left;
        color: #000;
      }
    }
    .editBtn {
      padding: 10px 32px;
      padding-bottom: 25px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      background-color: #5093e0;
      font-size: 1.1rem;
      font-weight: 600;
      text-align: left;
      color: #fff;
      cursor: pointer;
    }
  }

  .contentBody {
    position: relative;
    z-index: 9;
    padding: 20px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contentRow {
    height: 4.375rem;
    background-color: #ffffff;
    border: 1px solid rgb(220, 220, 220);
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #000;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    border-radius: 12px;

    .label {
      font-weight: normal;
      text-align: left;
      align-items: center;
      align-content: center;
      display: flex;
      align-items: center;
    }

    .value {
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @media (max-width: 500px) {
        // adjust this value to the breakpoint you want
        white-space: normal;
      }
    }

    .locked {
      color: #bebebe;
      display: flex;
      justify-content: space-between;
    }

    .icon {
      width: 1.75rem;
      height: 1.75rem;
      background-image: url("src/Assets/images/lock-icon.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .discrepancyIcon {
      width: 1.75rem;
      height: 1.75rem;
    }
  }

  .contentRow:nth-child(even) {
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
  }
}

.submitBtnMargin {
  margin-top: 40px;
  margin-bottom: 40px;
}
.errorText {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .reviewContentWrapper {
    .topHeading {
      font-size: 30px;
      margin-top: 15px;
    }

    .descriptionPara {
      margin-top: 15px;
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  .contentContainer {
    .contentHeader {
      margin-bottom: -16px;
      padding: 0 4px;

      .infoText {
        padding: 4px 20px;
        padding-bottom: 20px;
        .stepTitle {
          font-size: 12px;
        }
      }

      .editBtn {
        padding: 8px 20px;
        padding-bottom: 20px;
        font-size: 12px;
      }
    }

    .contentRow {
      min-height: 3.2rem;
      max-height: 5rem;
      height: 100%;
      font-size: 14px;
      padding-left: 1rem;
      padding-right: 1rem;
      margin-right: 0px;
      text-align: end;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
  }

  .submitBtnMargin {
    margin-top: 20px;
  }
}

.lightRedBg {
  background: #fde9ce !important;
}

.previewButton {
  background-color: white;
  border: 2px solid #5093e0;
  color: #5093e0;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  //   font-family: "ArticulatCF-Regular";
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px;
  transition-duration: 0.3s;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 22px;
    height: 22px;
    margin-right: 3px;
  }
}

.previewButton:hover {
  background-color: #b9d4f5;
}

.robotStyles {
  margin-top: 30px;
  width: 100%;
  transform-origin: 0 0; // Adjust origin for proper scaling

  @media (max-width: 600px) {
    transform: scale(0.8); // Scale for smaller screens
  }
}
