@use "../../styles/_variables" as *;
@use "../../styles/_mixins" as *;

.paperContainer {
  padding: clamp(0px, 2vw, 40px);
  height: auto;
  text-align: center;
  @include HorizontalAndVerticalCenter;
  flex-direction: column;
  .OptContainer {
    @include HorizontalAndVerticalCenter;
    flex-direction: column;
  }

  .mainHeading {
    font-size: clamp(24px, 5vw, 40px);
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: clamp(10px, 2vw, 20px);
  }

  .content {
    font-size: clamp(10px, 2vw, 25px);
    margin-bottom: clamp(18px, 1vw, 30px);
    margin-top: clamp(10px, 2vw, 20px);
    width: clamp(100%, 50vw, 65%);
    color: #252f37;
  }

  .goBack {
    span {
      color: #407ec9;
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .iconStyle {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
  }

  .inputStyle {
    margin-top: clamp(15px, 2vw, 20px);
    margin-bottom: clamp(15px, 2vw, 30px);
    width: clamp(45px, 9vw, 65px) !important;
    height: clamp(48px, 9vw, 77px) !important;
    border: solid 2px #dddddd !important;
    // background: #252f37 !important;
    color: #407ec9 !important;
    border-radius: 7px;
    text-align: center;
    font-size: clamp(26px, 6vw, 36px);
    margin-right: clamp(3px, 2vw, 10px);
  }
}

.countdownStyle {
  cursor: pointer;
  font-size: clamp(10px, 2vw, 14px);
  color: #e8927c;
  font-size: 14px;
  border: 1px solid #e8927c;
  height: 35px !important;
}
.countdownStyle:hover {
  border: 1px solid #e8927c;
}

.resendOTP {
  font-size: clamp(14px, 3vw, 20px);
  margin-top: clamp(10px, 2vw, 40px);
  color: #e8927c;
}
