@use "../../../styles/_variables" as *;
@use "../../../styles/_mixins" as *;

.topWrapper {
  text-align: center;
  @include HorizontalAndVerticalCenter;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;

  .mainHeading {
    color: #e8927c;
    margin: 15px 0px;
    letter-spacing: 2px;
  }

  .backButtonWrapper {
    width: 200px;
    height: 50px;
    border-radius: 22px;
    background-color: #363636;
    color: white;
    gap: 5px;
    margin: 20px 0px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.4s ease;

    &:hover {
      background-color: #fff;
      border: 1px solid $theme-primary;
      color: $theme-dark;
    }

    @media (max-width: 768px) {
      width: 180px;
      height: 40px;
    }
  }

  .titleWrapper {
    margin-top: 5px;
    font-size: clamp(18px, 4vw, 40px);
  }

  .descriptionWrapper {
    margin: 15px;
    font-size: clamp(12px, 2.5vw, 18px);
    color: gray;
  }

  .boxWrapper {
    @include HorizontalAndVerticalCenter;
    flex-direction: column;
    background-color: #5a95de;
    border-radius: 30px 5px 30px 5px;
    margin-top: 20px;
    padding: 20px;

    .boxTitle {
      color: white;
      font-size: clamp(16px, 6vw, 30px);
    }
    .trackingID {
      margin-top: 10px;
      color: white;
      font-weight: bolder;
      font-size: clamp(24px, 4vw, 30px);
    }
  }
}
