.topHeading {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
  color: #000;
}

.termContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
  color: #484e53;
  font-weight: 500;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 12px;
  padding: 24px 30px 36px 30px;
  text-align: justify;
}

.list {
  padding: 0px 20px;
  margin: 0px;
  line-height: 1.6;
}

.listItemTitle {
  margin: 15px 0 5px 0;
}

.content {
  color: #484e53;
  font-size: 15px;
  font-weight: 500;
}

.subList {
  margin: 0;
  padding-left: 20px;
}

.subTitle {
  font-weight: 600;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  align-items: center;

  .checkboxWrapper {
    color: #178a4d;
    font-size: 50px;
    margin-left: clamp(0px, 2vw, 8px);
  }

  .checkboxLabel {
    // font-family: "ArticulatCF-Regular";
    font-size: clamp(15px, 2vw, 16px);
    color: gray;
    cursor: pointer;
  }
}

@media (max-width: 500px) {
  .termContainer {
    padding: 16px 20px 20px 20px;
  }
  .listItemTitle {
    margin: 12px 0 5px 0;
  }
  .content {
    font-size: 14px;
  }
  .list {
    padding: 0px 10px 0px 20px;
    line-height: unset;
  }
}
