.topHeading {
  font-size: clamp(20px, 4vw, 44px);
  margin-right: 10px;
  font-weight: 600;
  text-align: left;
  color: #000;
}

.termContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 16px;
  color: #484e53;
  border-radius: 12px;
  text-align: justify;
}

.list {
  padding: 0px 20px;
  line-height: 2;
  color: #e8927c;
}

.content {
  color: #484e53;
  font-size: 15px;
  font-weight: 500;
}

.subList {
  margin: 0;
  padding-left: 20px;
}

.subTitle {
  font-weight: 600;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  align-items: center;

  .checkboxWrapper {
    color: #178a4d;
    font-size: 50px;
    margin-left: clamp(0px, 2vw, 8px);
  }

  .checkboxLabel {
    font-size: clamp(15px, 2vw, 16px);
    color: gray;
    cursor: pointer;
  }
}
