@keyframes scaleInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}

.heroImage {
  filter: drop-shadow(15px 15px 20px rgba(0, 0, 0, 0.3));
  height: 65vh;
  animation: scaleInOut 3s infinite ease-in-out; /* Apply the animation */
}

.cardImage {
  height: clamp(60px, 12vh, 120px);
}

.payvay {
  position: relative;
  top: 8px;
}

.landingPageContainer {
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  position: relative;
}

.geometryImage {
  position: absolute;
  right: -80px;
  top: -70px;
  width: 300px;
}

.backgroundImageLeft {
  position: absolute;
  height: 400px;
  width: 400px;
  bottom: -50px;
  left: 0;
}
.backgroundImageRight {
  position: absolute;
  height: 400px;
  width: 400px;
  bottom: -50px;
  right: 0;
}

.contentContainer {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.textContainer {
  font-weight: bold;
  text-align: center;
  font-size: clamp(18px, 4vw, 26px);
  line-height: 30px;
}

.descriptionText {
  text-align: center;
  padding: 20px 0px;
  font-size: clamp(10px, 2vw, 14px);
}

.card {
  background: #f4f4f4;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.cardTitle {
  font-size: clamp(12px, 5vw, 16px);
  font-weight: bold;
  padding: 10px 0px;
  color: #407ec9;
  text-align: center;
}

.cardDescription {
  font-size: clamp(10px, 4vw, 12px);
  text-align: center;
}
