// Ageboxstyles SCSS
.Agebox {
  color: black;
  margin: 40px 0;
  font-weight: 900;
  font-size: clamp(14px, 5vw, 55px);
  text-align: center;

  @media (min-width: 600px) {
    text-align: left;
  }
}

// Onboardingstyles SCSS
.onboarding {
  color: #37a862;
  height: 200px;
  width: 170px;
}

.yesButton {
  max-width: 400px;
  width: 100%;
  height: 55px;
  font-weight: bold !important;
}
.noButton {
  max-width: 400px;
  width: 100%;
  background: #cfd1d3 !important;
  font-weight: bold !important;
  color: black !important;
}
