.heading {
  color: black;
  // margin: 10px 0px;
  font-weight: 700;
  font-size: clamp(25px, 4vw, 38px);
  letter-spacing: 0.5px;
}

.content {
  margin: 10px 0px;
  font-weight: 500;
  font-size: clamp(14px, 3vw, 20px);
  color: #3b3b3b;
}

@keyframes scaleInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}

.heroImage {
  height: 50vh;
  width: 100%;
  animation: scaleInOut 3s infinite ease-in-out;
}

.iconBox {
  background-color: #f1f1f1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: clamp(85px, 10vh, 110px);
  width: clamp(85px, 10vh, 110px);
  padding: 20px;
}

.smallDeviceIconContainer {
  height: clamp(120px, 8vh, 250px);
  width: clamp(120px, 8vh, 250px);
}
