.icon {
  height: 100%;
  width: 100%;
}
.heading {
  color: black;
  margin: 15px 0px;
  font-weight: 700;
  font-size: clamp(16px, 5vw, 40px);
}

.iconBox {
  margin-bottom: 40px;
  background: white;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: #363d42;
  margin: 15px 0px;
  font-weight: 500;
  font-size: clamp(12px, 4vw, 25px);
}

@keyframes scaleInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}

.heroImage {
  height: 50vh;
  width: 100%;
  animation: scaleInOut 3s infinite ease-in-out; /* Apply the animation */
}
