.heading {
  color: black;
  margin: 10px 0px;
  font-weight: 700;
  font-size: clamp(26px, 5vw, 38px);
  letter-spacing: 0.5px;
}

.content {
  margin: 25px 0px;
  font-weight: 500;
  font-size: clamp(15px, 4vw, 20px);
}

@keyframes scaleInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}

.heroImage {
  height: 50vh;
  width: 100%;
  animation: scaleInOut 3s infinite ease-in-out;
}

.iconBox {
  background-color: #eeeeee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 110px;
}
